.swiper-button-prev,
.swiper-button-next {
  top: var(--swiper-navigation-top-offset, 94%) !important;
  color: #000000 !important;
}
.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  right: var(--swiper-navigation-sides-offset, 38%) !important;
  left: auto;
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  left: var(--swiper-navigation-sides-offset, 38%) !important;
  right: auto;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 14px !important;
}
.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  top: var(--swiper-pagination-top, 89.5%) !important;
  left: 50% !important;
  width: fit-content !important;
  transform: translate(-50%, 0%) !important;
}

.testimonialSwiper .swiper-button-prev,
.testimonialSwiper .swiper-button-next {
  top: var(--swiper-navigation-top-offset, 96.75%) !important;
}

.testimonialSwiper .swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  top: var(--swiper-pagination-top, 94%) !important;
}

@media (min-width: 768px) {
  .swiper-button-next,
  .swiper-rtl .swiper-button-prev {
    right: var(--swiper-navigation-sides-offset, 42%) !important;
  }

  .swiper-button-prev,
  .swiper-rtl .swiper-button-next {
    left: var(--swiper-navigation-sides-offset, 42%) !important;
  }

  .swiper-pagination-fraction,
  .swiper-pagination-custom,
  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal {
    top: var(--swiper-pagination-top, 91.5%) !important;
  }
  .testimonialSwiper .swiper-pagination-fraction,
  .swiper-pagination-custom,
  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal {
    top: var(--swiper-pagination-top, 95.5%) !important;
  }
  .testimonialSwiper .swiper-button-prev,
  .testimonialSwiper .swiper-button-next {
    top: var(--swiper-navigation-top-offset, 98%) !important;
  }
}

@media (min-width: 1024px) {
  .swiper-pagination-fraction,
  .swiper-pagination-custom,
  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal {
    top: var(--swiper-pagination-top, 92%) !important;
  }
}

@media (min-width: 1280px) {
  .swiper-button-prev,
  .swiper-button-next {
    top: var(--swiper-navigation-top-offset, 96.75%) !important;
    z-index: 100;
  }
  .swiper-button-next,
  .swiper-rtl .swiper-button-prev {
    right: var(--swiper-navigation-sides-offset, 45%) !important;
  }

  .swiper-button-prev,
  .swiper-rtl .swiper-button-next {
    left: var(--swiper-navigation-sides-offset, 45%) !important;
  }
  .swiper-pagination-fraction,
  .swiper-pagination-custom,
  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal {
    top: var(--swiper-pagination-top, 95%) !important;
  }
}
